.newcat_list {
	display:flex;
	align-items:stretch;
	justify-content:flex-start;
	flex-wrap:wrap;
	text-align:left;
}
.newcat_el_bl {
	height:385px;
	position:relative;
	width:32.2%;
	margin-right:1.6%;
	margin-bottom:30px;
	border-radius:10px;
}
.newcat_el_bl:nth-child(3n) {
	margin-right:0;
}
.newcat_el {
	min-height:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	border-radius:10px;
	background:#fff;
	padding:10px 30px 25px;
}
.newcat_el:hover {
	box-shadow:0 2px 10px 0 rgba(0,0,0,0.3);
	z-index:100;
}
.newcat_el:hover .newcat_hidden_bl {
	display:block;
}
.newcat_tit {
	font-size:14px;
	text-align:center;
	line-height:1.4;
	min-height:75px;
	margin-bottom:10px;
}
.newcat_tit a {
	color:#000;
	text-decoration:none;
}
.newcat_tit a:hover {
	color:#c41a1c;
	text-decoration:none;
}
.newcat_ic_bl {
	height:130px;
	line-height:130px;
	text-align:center;
	position:relative;
	margin-bottom:10px;
}
.newcat_ic_bl img {
	vertical-align:middle;
}
.newcat_ic_bl .two {
	opacity:0;
}
.newcat_ic_bl .two,
.newcat_ic_bl .one {
	height:130px;
	line-height:130px;
	text-align:center;
	position:absolute;
	left:0;
	right:0;
	top:50%;
	margin-top:-65px;
	transition:all 1s ease;
}
.newcat_ic_bl:hover .one {
	opacity:0;
}
.newcat_ic_bl:hover .two {
	opacity:1;
}
.newcat_info_top {
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:10px;
}
.newcat_dop_bt {
	font-size:0;
	text-align:right;
}
.newcat_dop_bt .favor_srav,
.newcat_dop_bt .srav_favor {
	position:relative;
	left:auto;
	top:auto;
	bottom:auto;
	right:auto;
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	border-color:#d0d0d0;
}
.newcat_info_bot {
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.newcat_price_bl {
	max-width:50%;
}
.newcat_price_bl .new {
	font-family:latobold;
	font-size:22px;
	color:#c62123;
}
.newcat_price_bl .old {
	font-family:latoregular;
	font-size:18px;
	color:#605f5f;
	text-decoration: line-through;
}
.newcat_price_bl .fa {
	font-size:90%;
}
.newcat_buy {
	display:inline-block;
	vertical-align:middle;
	color:#605f5f;
	text-decoration:none;
	border:none;
	position:relative;
	border-radius:6px;
	font-size:16px;
	line-height:1;
	padding:12px 10px 11px 35px;
	background:#e6e6e6;
}
.newcat_buy:before {
	content:'';
	display:block;
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-8px;
	width:18px;
	height:16px;
	background-image:url("/img/newcat_buy.png");
	background-position:left top;
	background-repeat:no-repeat;
}
.newcat_buy.in_basket_button:before{
    background-image:none;
}
.newcat_buy:hover {
	background:#c62123;
	color:#fff;
}
.newcat_buy:hover:before {
	background-position:left bottom;
}
.newcat_hidden_bl {
	padding-top:15px;
	display:none;
}
.newcat_option_el {
	position:relative;
	display:flex;
	align-items:flex-end;
	justify-content:space-between;
	font-size:12px;
	color:#605f5f;
	margin-bottom:5px;
}
.newcat_option_el:last-child {
	margin-bottom:0;
}
.newcat_option_el:before {
	content:'';
	display:block;
	border-bottom:1px dotted #cccccc;
	position:absolute;
	bottom:2px;
	left:0;
	right:0;
	z-index:1;
}
.newcat_option_l {
	position:relative;
	z-index:10;
	background:#fff;
	padding-right:2px;
}
.newcat_option_r {
	position:relative;
	z-index:10;
	text-align:right;
	background:#fff;
	padding-left:2px;
}
.newcat_info_top.other .newcat_reititng {
	text-align:right;
	width:50%;
	padding-right: 15px;
}
.newcat_info_top.other .newcat_dop_bt {
	text-align:left;
	width:50%;
	padding-left: 5px;
}
@media only screen and (min-width:1000px) and (max-width:1200px) {
	.newcat_el_bl {
		width:48%;
		margin-right:4%;
	}
	.newcat_el_bl:nth-child(3n) {
		margin-right:4%;
	}
	.newcat_el_bl:nth-child(2n) {
		margin-right:0%;
	}
}
@media only screen and (max-width:999px) {
	.newcat_price_bl .new {
		font-size:16px;
	}
	.newcat_price_bl .old {
		font-size:14px;
	}
	.newcat_tit {
		font-size:12px;
	}
}
@media only screen and (min-width:510px) and (max-width:799px) {
	.newcat_el_bl {
		width:48%;
		margin-right:4%;
	}
	.newcat_el_bl:nth-child(3n) {
		margin-right:4%;
	}
	.newcat_el_bl:nth-child(2n) {
		margin-right:0%;
	}
}
@media only screen and (max-width:509px) {
	.newcat_el_bl {
		width:100%;
		margin-right:0%;
	}
}