@media screen and (max-width: 799px) {
    .list_element_img {
        display: none !important
    }

	body.width_1200 {
		width:1200px;
	}
	.foot_versiya_site {
		display:block;
		margin:40px auto 0px;
		font-size:18px;
		font-family:latobold;
		color:#c41a1c;
		text-align:center;
		text-decoration:none;
	}
    .carousel_slider_brend_block {
        padding: 20px 40px 30px
    }

    .carousel_slider_brend > li {
        text-align: center
    }

    .carousel_slider_brend > li a {
        height: 100px;
        line-height: 100px;
        display: block
    }

    .carousel_slider_brend img {
        display: inline !important;
        vertical-align: middle
    }

    .index_podpiska_block {
        position: relative
    }

    .index_podpiska_title_block {
        padding: 8px 5px 8px 5px;
        text-align: center;
        background: #c41a1c;
        color: #fff;
        font-size: 16px;
        font-family: latobold;
        border-radius: 10px;
        margin-bottom: 4px
    }

    .index_podpiska_form {
        padding: 18px 21px 18px 21px;
        background: #e6e6e6;
        border-radius: 10px
    }

    .index_podpiska_block {
        margin-bottom: 42px
    }

    .index_podpiska_form input[type="text"] {
        height: 37px;
        background: #fff;
        text-align: center;
        border: 1px solid #d5d3d3;
        border-radius: 4px;
        box-shadow: inset 0 0 3px 0 #e4e3e3
    }

    .index_produce {
        position: relative
    }

    .index_produce:before {
        background: #e6e6e6;
        content: '';
        top: -10px;
        left: 0;
        right: 0;
        height: 1px;
        position: absolute;
        display: block
    }

    .index_produce:first-child:before, .index_produce:hover:before, .index_produce:hover + .index_produce:before {
        display: none
    }

    .index_produce:after {
        content: '';
        display: block;
        clear: both
    }

    .index_produce_left_col {
        width: 58%;
        float: left;
        padding-right: 10px;
        text-align: center
    }

    .index_produce_right_col {
        width: 42%;
        float: right;
        padding-right: 35px;
        position: relative
    }

    .index_produce:hover .index_produce_right_col:after {
        background: url("/img/produce_right_col_arrow.png?v1") left bottom no-repeat
    }

    .index_produce_right_col:after {
        content: '';
        display: block;
        background: url("/img/produce_right_col_arrow.png?v1") left top no-repeat;
        width: 21px;
        height: 37px;
        top: 50%;
        margin-top: -18px;
        right: 5px;
        position: absolute;
        z-index: 100
    }

    .index_produce_title {
        text-align: left !important;
        font-size: 12px !important
    }

    .index_produce_right_col ul > li {
        width: 100% !important;
        text-align: center !important;
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .index_produce {
        padding-bottom: 10px !important;
        margin-bottom: 10px !important
    }

    .index_produce li p:first-child {
        font-size: 17px !important
    }

    .index_produce li p {
        font-size: 15px !important
    }

    .razdel_probuce_block {
        padding-top: 20px;
        border-top: 1px solid #e6e6e6
    }

    .right_slider_block {
        margin-bottom: 10px
    }

    .bottom_menu_button li {
        display: inline-table !important
    }

    .bottom_menu_button li a {
        display: table-cell;
        vertical-align: middle;
        width: 100%
    }

    footer {
        padding-top: 20px
    }

    .bottom_menu_button {
        width: 330px;
        margin-top: 30px;
        margin-bottom: 30px
    }

    .footer_money_block {
        margin-bottom: 25px
    }

    .footer_money_block, .footer_socila_block {
        float: none !important;
        margin-top: 0 !important
    }

    .timer_block {
        width: 100%;
        height: 67px;
        display: table;
        border-radius: 15px;
        background: #3c3b3b;
        text-decoration: none;
        color: #fff;
        padding: 5px 5px 10px;
        text-align: center
    }

    .timer_block > span:first-child {
        width: 100%
    }

    .timer_block > span {
        display: inline-block;
        vertical-align: middle
    }

    .timer_button {
        padding: 0 15px;
        margin-bottom: 10px;
        text-align: center
    }

    .timer_title {
        text-align: right;
        font-family: latoregular;
        font-size: 10px;
        text-transform: uppercase
    }

    .timer_title i {
        display: block;
        font-size: 15px;
        font-family: latoregular
    }

    .timer_countdown {
        padding-left: 20px
    }

    .timer_red_button {
        width: 100% !important
    }

    .index_podpiska_block {
        margin-bottom: 7px !important
    }

    .filter_block {
        display: none
    }

    .sortirovka li:first-child {
        padding-right: 50px
    }

    .sortirovka li:first-child {
        padding-right: 50px
    }

    .sortirovka_block {
        padding: 15px 20px 15px;
        border-bottom: 1px solid #e6e6e6;
        margin: 0 0 0 0 !important
    }

    .list_element_title {
        margin-bottom: 5px
    }

    .list_element_catalog {
        text-align: center
    }

    .table_element_catalog_light {
        margin: 0 auto
    }

    .money_element {
        padding-top: 5px
    }

    .catalog_page_top_all_produce {
        padding-top: 20px;
        margin-bottom: 17px;
        border-bottom: 1px solid #e6e6e6
    }

    .detail_box {
        padding: 15px 15px 12px 20px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        margin-bottom: 2px
    }

    .detail_box {
        display: block !important
    }

    .element_contacts_city {
        display: table;
        margin: 0 auto 30px
    }

    .element_contacts_city, .map_element_contacts {
        margin-bottom: 30px
    }

    .contacts_city_block .h4 {
        margin-bottom: 35px !important
    }

    .red_button_tabs {
        width: 100%
    }


    .element_contacts_city .dop_shema_proezda {
        padding: 0 15px 0 15px !important
    }

    .element_contacts .red_title span {
        display: block
    }

    .element_contacts .red_title {
        text-align: center !important
    }

    .telephone_shop_contacts_block {
        margin-bottom: 20px
    }

    .js_mobile_text_el_light {
        display: none
    }

    .reg_radio_button_block label:first-child {
        margin-bottom: 30px
    }

    .reg_radio_button_block label {
        display: block
    }

    .reg_form_card_light_text {
        background: #e6e6e6;
        padding: 10px 20px;
        border-radius: 10px;
        text-align: left;
        font-family: latolight;
        font-size: 14px;
        margin: 10px auto 0
    }

    .reg_form_card_block label {
        padding: 0 20px
    }

    .reg_form_card_block {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 21px 0 30px 0;
        position: relative;
        margin: 38px 0 15px
    }

    .detail_top_big_small_img_block {
        text-align: center;
        margin-bottom: 20px
    }

    .detail_top_big_right_col {
        padding: 0 15px
    }

    .detail_box .js_mobile_text_el_light {
        padding-top: 30px
    }

    .detail_section {
        margin-bottom: 10px
    }

    .detail_complect_left_block, .detail_complect_right_block {
        margin-bottom: 15px
    }

    .detail_top_accessory_left_col {
        position: relative;
        margin-bottom: 20px
    }

    .detail_top_accessory_button:after {
        content: "";
        background: url("/img/dostavka_arrow.png?v1") no-repeat;
        width: 18px;
        height: 11px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 33px
    }

    .detail_top_accessory_button.detail_top_accessory_button_active {
        border-radius: 10px 10px 0 0
    }

    .detail_top_accessory_button {
        width: 100%;
        height: 42px;
        padding: 10px 60px 10px 15px;
        border-radius: 10px;
        background: #e6e6e6;
        position: relative;
        display: block
    }

    .detail_top_accessory_light {
        display: none;
        position: absolute;
        top: 42px;
        left: 0;
        right: 0;
        z-index: 150;
        background: #e6e6e6;
        padding: 10px 15px 10px;
        border-radius: 0 0 10px 10px
    }

    .reg_form_soc {
        text-align: left
    }

    .geo_light_column {
        font-family: latolight;
        font-size: 14px;
        color: #000
    }

    .geo_light_grey_left_col, .geo_light_white_left_col {
        display: inline-block;
        vertical-align: top
    }

    .geo_light_grey_left_col {
        width: 175px;
        max-width: 100%;
        padding: 20px 0 40px 40px;
        background: #f2f2f2
    }

    .geo_light_white_left_col {
        width: 260px;
        max-width: 100%;
        padding: 20px 0 40px 0
    }

    .geo_light_right_col {
        width: 435px;
        max-width: 100%;
        padding: 45px 25px 30px 25px;
        border-left: 2px solid #f2f2f2
    }

    .menu_lvl2 {
        width: auto !important;
        border: none !important;
        border-top: 1px solid #e4e4e4 !important
    }
    .mobile_catalog_menu_light .menu_lvl2 {
        width: 265px !important;
		height:100%;
		bottom:0;
    }
	.mobile_catalog_menu_light .menu_lvl3 {
		width: 265px !important;
		height:100%;
		bottom:0;
	}

    .sortirovka_block li:nth-child(2) {
        padding-left: 0 !important
    }

    .sortirovka_block li:first-child {
        display: block !important;
        margin-bottom: 5px
    }

    .sortirovka_block li {
        display: inline-block !important
    }

    .sortirovka_block {
        padding-top: 5px !important
    }

    .filter_button_block {
        margin-bottom: 10px
    }

    .bottom_menu ul {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        display: table;
        position: relative;
        z-index: 100;
        margin: 0
    }

    .bottom_menu ul li {
        display: table-cell;
        height: 40px;
        width: 25%;
        vertical-align: middle;
        padding-right: 10px
    }

    .footer_info_block .bottom_menu ul {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        margin: 0
    }

    .footer_info_block .bottom_menu ul li {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        width: auto;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px
    }

    .table_scroll {
        overflow-x: scroll
    }

    .new_call_back_light_form {
        margin-bottom: 5px;
        display: table;
        width: 100%
    }

    .new_call_back_light_form_tel {
        margin: 20px 0 15px;
        display: table;
        width: 100%
    }

    .new_call_back_light_form_tel > li:first-child {
        font-size: 12px
    }

    .new_call_back_light_form_tel > li {
        margin-bottom: 5px;
        vertical-align: middle;
        font-size: 21px;
        line-height: 1
    }

    .new_call_back_light_form_tel input[type='text'] {
        width: 40px;
        vertical-align: middle;
        font-size: 18px;
        text-align: center;
        padding: 0 2px
    }

    .vhod_page_block {
        padding: 0 15px
    }

    .vhod_page_left_col {
        margin-bottom: 40px
    }

    .video_block iframe {
        width: 100% !important
    }

    .add_comment_form > li {
        display: block !important;
        text-align: center;
        padding: 0 0 0 0 !important
    }

    .add_text_comment {
        background: #fff;
        border-radius: 14px
    }

    .element_contacts_city_block {
        display: block
    }

    #bx-soa-order {
        margin: 0 0 20px 0 !important
    }

    .new_basket_el {
        text-align: center;
        padding-bottom: 20px
    }

    .new_basket_el_right .old_price {
        margin-bottom: 10px
    }

    .bx-touch .bx_ordercart .bx_ordercart_photo_container {
        padding-top: 20px !important
    }

    .add_comment_star .jq-radio:nth-child(5n) {
        margin-right: 0
    }

    .dostavka_region_title_podskazka {
        display: none
    }

    .detail_services_list > li {
        display: block !important;
        width: 100% !important;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .left_column {
        position: static !important
    }

    .video iframe {
        height: auto !important
    }

    .table_element_catalog_light {
        display: block !important
    }

    .detail_small_img_3d_el {
        vertical-align: top !important;
        margin-bottom: 10px
    }

    .mobile_header_geo_block {
        position: relative
    }

    .header_geo_light {
        left: auto !important;
        right: 1px
    }

    .header_geo_light:before {
        left: auto !important;
        right: 47px
    }

    #viewer, #viewer > Div > div, #viewer > Div > div > div:first-child, #viewer > div:first-child {
        width: 100% !important;
        height: 100% !important;
        bottom: 0
    }

    #viewer > div > div:first-child {
        display: block !important
    }

    #viewer > div > div {
        display: none
    }
	.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-btn {
		padding-left:0!important;
	}
	#bx-soa-order .btn.btn-default {
	    height: 35px!important;
		line-height: 25px!important;
		width: 100%!important;
		font-size: 18px!important;
	}
	.podskazka_text {
		transform: scale(-1, 1);
		margin-left: -50px!important;
	}
	.podskazka_text>span {
		transform: scale(-1, 1);
		display: block;
	}
	
/*	.detail_page_3point_light {
		right:auto!important;
		left:0;
	}*/
	
	#back_top {
		display:none;
	}
	.btn.btn-link {
		border-radius:4px!important;
		background:#e6e6e6!important;
		color: #686767!important;
		border: 1px solid #686767!important;
		font-family: latoblack!important;
		font-size: 15px!important;
		text-decoration: none!important;
		width: 230px!important;
		height: 37px!important;
		line-height: 37px!important;
		margin:15px auto!important;
		display: block;
	}
	.bx-filter-parameters-box-container .red_button {
		width: 230px!important;
		height: 37px!important;
		line-height: 37px!important;
	}
	.detail_small_img_gray_el {
		margin-bottom:10px;
	}
	.prume_form .form-head {
		line-height:1.2!important;
	}
	.premme .prume_form,
	.premme {
		min-height:0!important;
	}
	.card_pay table {
		margin-top:10px;
	}
	.card_pay td:first-child {
		padding-right:15px;
	}
	.card_pay td {
		padding:5px 0 5px 0;
		text-align:left;
	}
	
	
	.top_foot_bl {
		display:table;
		width:100%;
	}
	.top_foot_bl:after {
		content:'';
		display:block;
		clear:both;
	}
	.top_foot_bl>div {
		display:table;
		vertical-align:top;
		margin:0 auto;
	}
	.top_foot_nav {
		padding-top:40px;
		/* width:44%; */
	}
	.top_foot_soc {
		padding-top:40px;
		text-align:center;
		/* width:55%; */
	}
	.top_foot_logo {
		/* width:48%; */
	}
	.top_foot_cont {
		padding-top:40px;
		
	}
	/* .slider_produce_el ul li,
	.slider_produce_el ul {
		display:block!important;
		text-align:center;
		width:auto!important;
	}
	.slider_produce_el ul li:first-child {
		margin-bottom:5px;
		text-align:center!important;
		padding:0 0 0 0!important;
	} */
	
	.slider_produce_el {
		padding: 5px 5px 20px!important;
	}
	
	.news-detail iframe {
		max-width:100%!important;
		height:300px!important;
	}
	
	/* .block_all_script {
		display: none!important;
	} */
	
	
	.block_all_script .form_zbonok {
		height:auto;
		width:200px;
		border-radius:10px;
		padding:5px 10px;
		text-align:center;
	}
	.block_all_script .phone_before {
		display:none;
	}
	.block_all_script .div_one_zv {
		display:block;
		width:auto;
		text-align:center;
		margin-bottom:10px;
		padding-left:0;
	}
	.block_all_script .item_zvonok.div_two_zv {
		display:block;
		margin-bottom:10px;
	}
	.block_all_script .a_close,
	.block_all_script .a_galka {
		width:25px;
		height:25px;
		background-size: 60% auto;
	}
	.block_all_script .block_knop {
		margin-right:0;
	}
	.block_all_script #wrap_raskr {
		display:none;
	}
	.block_all_script {
		top:auto!important;
		bottom:100px;
	}
	.block_all_script .button_raskr {
		width:50px;
		height:50px;
		background-size: 70% auto;
	}
	.fancybox-inner {
		max-width:100%;
	}
	.search-page .red_button,
	.search-page input[type="text"] {
		margin-bottom:10px;
	}
	.center_column .index_hit .index_produce.index_produce_in4 {
		width:100%;
	}
	.index_hit .index_produce.index_produce_in4 .favor_srav:nth-child(1),
	.index_hit .index_produce.index_produce_in4 .srav_favor:nth-child(1) {
		top:35px;
	}
	.index_hit .index_produce.index_produce_in4 .favor_srav:nth-child(2),
	.index_hit .index_produce.index_produce_in4 .srav_favor:nth-child(2) {
		top: 75px;
	}
}