@media screen and (max-width: 499px) {
    .prume_form .field-1 {
        display: block !important;
        margin-bottom: 10px
    }

    .prume_form .field-2 {
        display: block !important;
        margin-bottom: 10px
    }

    .display_none_m {
        display: none !important
    }

    .timer_title i {
        display: inline !important
    }

    .timer_title {
        margin-bottom: 10px
    }

    .index_podpiska_form input[type="text"] {
        width: 100%;
        margin-bottom: 8px
    }

    .index_podpiska_block .podpiska_red_button {
        width: 100% !important;
        height: 43px;
        line-height: 41px;
        text-transform: uppercase
    }

    .table_element_catalog_block {
        width: 100%;
        height: 226px;
        position: relative;
        margin: 0 0 30px 0;
        float: left
    }

    .telephone_logo {
        width: auto !important;
        max-width: 400px
    }

    .bottom_menu_button {
        width: auto !important;
        max-width: 300px
    }

    .detail_table_list_shop {
        border: 1px solid #e6e6e6;
        border-bottom: 0
    }

    .detail_table_list_shop td:last-child {
        margin-bottom: 0;
        padding-bottom: 15px !important
    }

    .detail_table_list_shop td:first-child {
        padding-top: 15px !important
    }

    .detail_table_list_shop td {
        text-align: left;
        padding: 0 20px 0 20px !important;
        margin-bottom: 20px
    }

    .detail_table_list_shop tr {
        text-align: left
    }

    .detail_table_list_shop, .detail_table_list_shop tr, .detail_table_list_shop td, .detail_table_list_shop th, .detail_table_list_shop thead, .detail_table_list_shop tfoot, .detail_table_list_shop tbody {
        display: block;
        width: 100% !important
    }

    .detail_table_list_shop th:first-child {
        padding: 5px 40px !important;
        background: #e6e6e6;
        font-family: latobold !important;
        font-size: 21px !important
    }

    .detail_navigation_block > li:last-child {
        width: 116px !important
    }

    .detail_double_box .dop_shema_proezda {
        margin-bottom: 25px !important;
        padding-top: 13px !important
    }

    .detail_double_box .dop_shema_proezda a {
        color: #000 !important;
        font-size: 14px !important;
        font-family: latoregular !important
    }

    .detail_table_list_shop .detail_red_button {
        width: 100% !important;
        height: 53px !important;
        line-height: 53px !important;
        font-size: 17px !important
    }

    .skype_mail_block ul {
        list-style: none
    }

    .skype_mail_block li {
        display: block !important
    }

    .detail_navigation_block > li .gray_button {
        margin: 0 auto
    }

    .detail_navigation_block > li {
        display: block !important;
        text-align: center !important;
        width: 100% !important;
        min-width: 100% !important;
        margin-bottom: 10px
    }

    .geo_light_grey_left_col, .geo_light_white_left_col {
        display: block !important;
        width: auto !important;
        padding: 20px 25px 20px 25px !important
    }

    .geo_light_grey_col_title, .geo_light_white_col_title {
        border-radius: 10px 10px 10px 10px !important
    }

    .geo_light_white_col_title {
        width: 100% !important;
        border-left: 1px solid #f2f2f2 !important
    }

    .small_razdel_firearm .razdel_firearm_block:nth-child(2n) {
        margin-right: 0
    }

    .small_razdel_firearm .razdel_firearm_block {
        width: 49%;
        margin: 0 2% 10px 0
    }

    .razdel_firearm_block {
        width: 100%;
        margin: 0 0 10px 0
    }

    .min_element_contacts {
        width: 100% !important;
        margin: 30px 0 0 0 !important
    }

    .min_element_contacts .element_contacts {
        max-width: 100%;
        padding: 0 10px
    }

    .help_horizontal div {
        width: 100%
    }

    .why_trust_us ul {
        max-width: 1160px;
        margin: 0 auto
    }

    .why_trust_us li {
        display: block;
        margin-bottom: 10px;
        padding: 0 10px;
        text-align: center;
        font-family: latolight;
        font-size: 15px;
        color: #000;
        line-height: 1.4
    }

    .video_block iframe {
        width: 100% !important
    }

    .right_text_why_trust_us {
        padding-right: 10px
    }

    .average_rating {
        width: 50%;
        float: left
    }

    .scale_rating {
        float: right;
        width: 45%
    }

    .add_text_comment textarea {
        width: 202px
    }

    .add_text_comment {
        padding: 0 5px 20px !important;
        border-radius: 0 !important
    }

    .photo_text_comment, .text_message {
        display: block !important;
        width: 100% !important
    }

    .text_message .left_arrow_comment {
        display: none
    }

    .text_message ul {
        padding-left: 0 !important
    }

    .gray_text_comment {
        margin-left: 0 !important
    }

    .dash_title1 {
        right: 42px !important
    }

    .dash_title2 {
        right: 35px !important
    }

    .dash_title3 {
        right: 35px !important
    }

    .dash_title4 {
        right: 35px !important
    }

    .dash .digit {
        width: 20px !important;
        font-size: 30px !important
    }

    .dash {
        width: 41px !important
    }

    .timer_countdown {
        padding-left: 0 !important
    }

    .table_element_catalog_block {
        height: auto !important
    }

    .telephone_shop_contacts span {
        display: block
    }

    .bx-soa-more-btn .pull-left {
        margin-bottom: 10px
    }

    .basket_page_navigation_block:before {
        display: none
    }

    .basket_page_navigation_block, .basket_page_navigation_block > li {
        width: auto !important
    }

    .basket_page_navigation_block, .basket_page_navigation_block > li, .basket_page_navigation_el {
        display: block !important;
        text-align: left
    }

    .basket_page_navigation_block > li {
        margin-bottom: 10px
    }

    .bx-soa-item-title {
        text-align: left
    }

    .bx-soa-more-btn a.btn-md {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
        display: block
    }

    .detail_comment_info_list {
        padding: 5px
    }

    .detail_comment_info_list, .detail_comment_info_list > li {
        display: block !important;
        height: auto !important;
        width: 100% !important;
        font-size: 14px
    }

    .detail_comment_info_list > li {
        padding: 5px 5px 5px 5px !important;
        text-align: center
    }

    .block_reviews > div {
        display: block !important
    }

    .block_reviews > span {
        margin-bottom: 25px;
        display: block
    }

    .detail_comment_info_list .detail_red_button {
        margin: 0 auto
    }

    .search-page .red_button {
        display: block !important;
        margin: 10px auto
    }

    .detail_complect_left_block {
        padding: 10px 5px !important
    }

    .detail_complect_el.active:before {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        content: '';
        left: -23px;
        right: -5px;
        background: #686767;
        z-index: 1
    }

    .detail_complect_el.active:after {
        position: absolute;
        width: 14px;
        height: 14px;
        bottom: -14px;
        left: -23px;
        display: block;
        content: '';
        z-index: 1;
        background: url("/img/detail_complect_el_active_left.png?v1") no-repeat
    }

    .mobile_header_top_info > li:first-child {
        width: 50px !important
    }

    .table_element_catalog:hover {
        position: static !important
    }

    .bx_sort_container .sortbutton {
        margin: 10px auto 10px !important;
        display: block !important
    }

    .header_geo_light_button a.red_button {
        margin: 0 auto 10px !important;
        float: none !important
    }

    .block_subsection:before {
        left: 0 !important
    }

    .block_subsection_column .left_block {
        padding-right: 10px !important
    }
	ymaps {
		font-size:12px;
	}
	ymaps h3 {
		font-size:15px;
	}
	#bx-soa-order ymaps .btn.btn-default {
		height: 25px!important;
		line-height: 16px!important;
		font-size: 14px!important;
	}
    .red_button_tabs li {
        display: block !important;
        width: 100% !important;
        margin: 0 auto 10px !important
    }
	
	.detail_similar_items_slider_block .detail_similar_items_el {
		min-height:280px;
	}
	.detail_similar_items_slider_block .produce_new_price {
		margin-bottom:2px;
	}
	.news_el_bl {
		display:inline-block;
		margin-bottom:22px;
		width:100%;
		margin-right:0;
		min-height:300px;
	}
	
	.rekom_slider_bl {
		padding:5px 20px;
	}
	.rekom_slider_bl .bx-wrapper .bx-prev {
		left:-18px;
	}
	.rekom_slider_bl .bx-wrapper .bx-next {
		right:-18px;
	}
}

@media screen and (max-width: 380px) {
    .mobile_header_telephone {
        /* font-size: 19px !important */
        font-size: 16px !important
    }
}

@media screen and (max-width: 350px) {
    .index_produce_right_col {
        width: 100% !important
    }

    .index_produce_left_col {
        display: none
    }

    .mobile_header_telephone_geo > li {
        display: block !important;
        text-align: center !important;
        margin-bottom: 5px
    }

    .detail_complect_el {
        padding: 10px 0
    }

    .detail_complect_el .detail_complect_el_l_title {
        font-size: 12px !important;
        font-family: latoregular !important
    }

    .detail_complect_el .detail_complect_el_new_price {
        font-size: 14px !important
    }

    .detail_complect_el .detail_complect_el_old_price {
        font-size: 13px !important
    }

    .detail_complect_red_title {
        font-size: 15px !important
    }

    .status_est {
        width: 75px !important
    }

   /*  .mobile_header_top_telephone, .catalog_menu_mobile_button {
        background-size: 70% auto;
        width: 30px !important;
        height: 30px !important
    } */

    .mobile_header_top_search {
        background-size: 90% auto;
        width: 30px !important;
        height: 30px !important
    }

    .mobile_header_top_basket {
        background-size: auto 80%;
        width: 75px !important;
        height: 30px !important;
        padding: 4px 2px 4px 40px !important
    }

    .mobile_header_top_info {
        height: 43px !important
    }

    .mobile_header_top_info > li:last-child {
        width: 150px !important
    }
}
@media screen and (max-width:499px){
    .load_applic_help_bl {
        width:100%;
        line-height:1.5;
        font-size:20px;
        margin-bottom:85px!important;
    }
    .load_applic_help_bl>li:first-child:after {
        display:none;
    }
    .load_applic_help_bl>li {
        margin-bottom:20px;
        text-align:left;
    }
    .load_applic_help_bl>li img {
        margin-right:20px;
        max-width:20%;
        max-height:70px;
    }
    .load_applic_help_bl>li img,
    .load_applic_help_bl>li span {
        display:inline-block;
        vertical-align:middle;
    }
    .load_applic_help_bl>li span {
        width:70%;
    }
    .load_applic_help_bl>li span br {
        display:none;
    }
    .donload_application_l_col,
    .applic_donload_bt {
        text-align:center;
    }
    .donload_application_r_col {
        margin-bottom:30px;
    }
}
@media only screen and (max-width:670px) {
	.show_confirmation_double .right {
		float:none!important;
		width:auto!important;
		margin-bottom:15px;
	}
	.show_confirmation_double .big_red_button {
		margin:0 auto;
	}
	.show_confirmation_double .left {
		float:none!important;
		width:auto!important;
		text-align:center;
	}
}
@media only screen and (max-width:499px) {
	
	.sale-order-list-title-container {
		padding-left:10px;
		padding-right:10px;
	}
	.sale-order-list-shipment-status-block,
	.sale-order-list-status-restricted, .sale-order-list-status-alert, .sale-order-list-status-success {
		margin-left:0;
		display:table;
		margin-top:5px;
		margin-bottom:15px;
	}
	.sale-order-list-inner-row:last-child .col-sm-12 {
		margin-bottom:10px;
	}
	.sale-order-list-inner-row:last-child .sale-order-list-repeat-accomplished,
	.sale-order-list-inner-row:last-child {
		text-align:center;
	}
	.sale-order-list-accomplished-date, .sale-order-list-accomplished-date-number {
		margin-top:0;
		margin-bottom:15px;
	}
	.sale-personal-section-row-flex>.col-lg-4:nth-child(5n) {
		margin-right:0%;
	}
	.sale-personal-section-row-flex>.col-lg-4 {
		width:100%;
		margin-right:0%;
	}
	section .lk_title {
		font-size:22px;
	}
	.soc-serv-title-grey,
	.soc-serv-title {
		font-size:20px;
	}
	.main-profile-block-shown_other {
		padding-top:1px;
	}
	.soc-serv-accounts_list {
		padding:0 10px 20px;
	}
	.bx-ss-icon {
		width:60px;
		height:60px;
	}
	section .big_red_button,
	section .big_gray_button {
		padding: 15px 10px;
		max-width: 200px;
		font-size:20px;
		margin-left:0;
		display:block;
	}
	.lk_content_width .big_gray_button {
		margin-top:0px;
		margin-left:0px;
	}
	.col-md-2.col-sm-6.sale-order-detail-about-order-inner-container-price {
		width:100%;
	}
	.col-md-2.col-sm-6.sale-order-detail-about-order-inner-container-repeat {
		width:60%;
		padding:10px 0 0 0;
	}
	.sale-order-detail-payment-options .col-sm-5, .sale-order-detail-payment-options-methods-container .col-sm-5 {
		display:none;
	}
	.sale-order-detail-payment-options .col-sm-7, .sale-order-detail-payment-options-methods-container .col-sm-7 {
		min-width:100%;
	}
	.sale-order-detail-order-item-table .sale-order-detail-order-item-properties.bx-text-right .sale-order-detail-order-item-td-title,
	.sale-order-detail-order-item-table .sale-order-detail-order-item-properties.bx-text-right .sale-order-detail-order-item-td-text {
		width:auto;
	}
	.sale-order-detail-total-payment-container .sale-order-detail-total-payment-list-left {
		max-width: 60%;
		padding-right: 0;
	}
	.sale-order-detail-total-payment-container .sale-order-detail-total-payment-list-right {
		min-width: 40%;
	}
	.sale-personal-profile-btn-block .big_gray_button,
	.sale-personal-profile-btn-block .big_red_button {
		width:60%;
		margin-left:0;
		margin-right:0;
	}
	
	/* .mobile_header_top_info .mobile_header_top_search {background-size:100% auto!important;width:22px!important;height:18px!important;margin-right:5px;}
	.mobile_header_top_info .mobile_header_top_telephone {background-size:100% auto!important;width:17px!important;height:17px!important;margin-right:5px;}
	.catalog_menu_mobile_button {background-size:68% auto;width:30px!important;height:30px!important;border-radius:7px;} */
	/* .mobile_header_top_search{background-size:90% auto;width:30px!important;height:30px!important}
	.mobile_header_top_basket{background-size:auto 80%;width:75px!important;height:30px!important;padding:4px 2px 4px 40px!important} */
	/* .mobile_header_top_info{height:43px!important} */
	/* .mobile_header_top_info>li:last-child{width:150px!important} */
	/* .mobile_header_top_info_bg .mobile_header_top_info>li:nth-child(2) {
		padding-left:20px;
		width:110px;
	} */
	/* .mobile_header_top_info .mobile_header_top_basket {
		width:75px;
		height:33px;
		padding:5px 0 0 40px;
		background-size:28px auto!important;
		background-position:7px center;
	} */
	.mobile_search_bl .red_search_form input[type="text"] {
		height:34px;
	}
	.zak_status_el>div,
	.zak_status_el>div:first-child {
		width: 49%;
		max-width: 49%;
	}
	.show_confirmation_el>.big_red_button {
		display:block;
		margin:0 auto 30px;
	}
	.show_confirmation_el>.big_gray_button {
		display:block;
		margin:30px auto 0px;
	}
	.lk_form_tit {
		font-size:20px!important;
	}
	.show_confirmation_status b,
	.show_confirmation_el .reg_form_el {
		font-size:16px!important;
	}
	.show_confirmation_double {
		font-size:14px!important;
	}
	.show_confirmation_el .big_gray_button,
	.show_confirmation_el .big_red_button {
		margin-bottom:10px;
	}
	
	.error_page_bl {
		position:relative!important;
	}
	.error_page_cont {
		max-width:330px!important;
		width:100%!important;
		margin:0 auto!important;
		float:none!important;
		padding:0 10px!important;
		min-height:370px!important;
	}
	.error_page_img {
		float:none!important;
		width:100%!important;
		max-width:410px!important;
		margin:0 auto!important;
		padding-top:10px!important;
		text-align:center!important;
		padding-left:10px!important;
	}
	.error_page_404 {
		text-align:center!important;
		font-size:100px!important;
		margin-bottom:10px!important;
	}
	.error_page_txt {
		margin-bottom:15px!important;
	}
	.error_page_help_txt span,
	.error_page_nothelp_txt a {
		white-space: nowrap!important;
	}
	.error_page_nothelp_txt,
	.error_page_help_txt,
	.error_page_txt {
		font-size:13px!important;
	}
	.error_page_gray_bt,
	.error_page_red_bt {
		font-size:14px!important;
	}
	
	.rekom_slider_bl {
		padding:5px 20px!important;
	}
	.rekom_slider_bl .bx-wrapper .bx-prev {
		left:-18px!important;
	}
	.rekom_slider_bl .bx-wrapper .bx-next {
		right:-18px!important;
	}
	.content_text_comment {
		display:block!important;
	}
	
	.find_city .left {
		float:none!important;
		width:auto!important;
	}
	.find_city .descr_b {
		margin-left:0!important;
	}
	#geo_light {
		max-width:100%!important;
	}
	.fancybox-opened {
		max-width:90%;
	}
}