@media screen and (min-width:800px) and (max-width:999px) {
	.display_none_p {
		display:none!important;
	}
	.list_element_img {
		display:none!important;
	}
	.carousel_slider_brend_block {
		padding:20px 40px 30px;
	}
	.carousel_slider_brend>li {
		text-align:center;
	}
	.carousel_slider_brend>li a {
		height:100px;
		line-height:100px;
		display:block;
	}
	.carousel_slider_brend img {
		display:inline!important;
		vertical-align:middle;
	}
	.index_produce_in3,
	.index_produce_in4 {
		width:32%;
		margin:0 1.5% 15px 0;
	}
	.index_produce {
		float:left;
	}
	.index_produce_in3:nth-child(3n),
	.index_produce_in4:nth-child(3n) {
		margin-right:0;
	}
	.right_slider_block {
		margin-bottom:30px;
	}
	.razdel_probuce_block {
		padding-top:20px;
		border-top:1px solid #e6e6e6;
	}
	.index_articles_block {
		width:31%;
		margin-right:9%;
		float:left;
	}
	.index_video_block {
		width:31%;
		margin-right:9%;
		float:left;
	}
	.bottom_social_tabs {
		width:20%;
		float:right;
	}
	.index_podpiska_block {
		position:relative;
	}
	.index_podpiska_title_block {
		padding:10px 0 10px 17px;
		width:160px;
		position:absolute;
		background:#c41a1c;
		color:#fff;
		font-size:16px;
		font-family:latobold;
		top:-6px;
		bottom:-6px;
		left:0;
		border-radius: 10px 0 0 10px;
		line-height:1.3;
	}
	.index_podpiska_title_block:after {
		content:'';
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		right:-18px;
		border-left: 18px solid #c41a1c;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
	}
	.index_podpiska_title_block span {
		display:block;
	}
	.index_podpiska_form {
		height:70px;
		padding:18px 21px 18px 212px;
		background:#e6e6e6;
		border-radius: 10px;
	}
	.index_podpiska_block {
		margin-bottom:42px;
	}
	.index_podpiska_form input[type="text"] {
		width:75%;
		height:37px;
		float:left;
		background:#fff;
		text-align:center;
		border:1px solid #d5d3d3;
		border-radius:4px;
		box-shadow:inset 0 0 3px 0 #e4e3e3;
	}
	.index_podpiska_block .podpiska_red_button {
		width:19%!important;
		float:right;
	}
	.index_more_text {
		display:none;
	}
	footer {
		padding-top:20px;
	}
	.bottom_menu_button li {
		display:inline-table!important;
		width:48%!important;
	}
	.bottom_menu_button li a {
	    display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.telephone_logo {
		float:left;
		width:50%!important;
	}
	.bottom_menu {
		clear:both;
	}
	.telephone_logo, .bottom_menu {
		display:block!important;
	}
	.bottom_menu_button {
		width: 50%;
		float: left;
	}
	.footer_money_social_block {
		float:right;
		width:50%;
	}
	.footer_money_block {
		margin-bottom:20px;
	}
	.footer_money_block,
	.footer_socila_block {
		float:none!important;
		margin-top:0!important;
	}
	.timer_block {
		width:100%;
		height:67px;
		display:table;
		border-radius:15px;
		background:#3c3b3b;
		text-decoration:none;
		color:#fff;
	}
	.timer_block>span {
		display:table-cell;
		vertical-align:middle;
	}
	.timer_button {
		width:35%;
		text-align:center;
	}
	.timer_title {
		width:18%;
		text-align:right;
		font-family:latoregular;
		font-size:17px;
		text-transform:uppercase;
	}
	.timer_title i {
		display:block;
		font-size:24px;
		font-family:latoregular;
	}
	.timer_countdown {
		width:47%;
		padding-left:20px;
	}
	.filter_block {
		display:none;
	}
	.table_element_catalog_block {
		width:32%;
		height:auto;
		position:relative;
		margin:0 1% 0px 0;
		display:inline-block;
		vertical-align:top;
	}
	.table_element_catalog_block:nth-child(3n) {
		margin-right:0;
	}
	.sortirovka li:first-child {
		padding-right:50px;
	}
	.sortirovka_block {
		padding:15px 20px 15px;
		border-bottom:1px solid #e6e6e6;
		margin:0 0 0 0!important;
	}
	/* .table_element_catalog_block {
		height:245px!important;
	} */
	.list_element_catalog {
		text-align:center;
	}
	.list_element_catalog table {
		text-align:left;
	}
	.table_element_catalog_light {
		margin:0 auto;
	}
	.money_element {
		padding-top:5px;
	}
	.catalog_page_top_all_produce {
		padding-top:20px;
		margin-bottom:17px;
		border-bottom:1px solid #e6e6e6;
	}
	.telephone_shop_contacts_block,
	.mail_shop_contacts {
		width:50%;
		float:left;
	}
	.rekvizit_shop_contacts {
		clear:both;
	}
	.red_button_tabs {
		width:580px;
		max-width:100%;
	}
	.red_button_tabs:after {
		content:'';
		clear:both;
		display:block;
	}
	.red_button_tabs>li:nth-child(2n) {
		margin-right:0!important;
	}
	.red_button_tabs>li {
		max-width:48%;
		display:bock!important;
		float:left;
		margin-left:0!important;
		margin-right:4%;
		margin-bottom:25px!important;
	}
	.element_contacts_city,
	.map_element_contacts {
		/* display:table-cell;
		width:50%;
		vertical-align:top; */
		margin-bottom:10px;
	}
	.element_contacts_city .element_contacts {
		width:470px;
		max-width:100%;
		margin:0 auto 10px;
	}
	.element_contacts_city {
		padding-left:25px;
		border-bottom:1px solid #686767;
	}
	.reg_form_card_light_text {
		background:#e6e6e6;
		padding:10px 20px;
		border-radius:10px;
		text-align:left;
		font-family:latolight;
		font-size:14px;
		max-width:376px;
		margin:0 auto;
	}
	.detail_complect_left_block {
		width:56%;
		float:left;
	}
	.detail_complect_right_block {
		width:42%;
		float:right;
	}
	.detail_top_big_right_col {
		max-width:720px;
		margin:0 auto 45px;
	}
	.detail_top_big_small_img_block {
		text-align:center;
		margin-bottom:20px;
	}
	.menu_lvl2 {
		width: auto!important;
		border:none!important;
		border-top: 1px solid #e4e4e4!important;
	}
	.sortirovka_block li:nth-child(2) {
		padding-left:0!important;
	}
	.sortirovka_block li:first-child {
		display:block!important;
		margin-bottom:5px;
	}
	.sortirovka_block li {
		display:inline-block!important;
	}
	.filter_button_block {
		float: left;
		max-width: 250px;
		margin-right: 20px;
	}
	.small_razdel_firearm .razdel_firearm_block:nth-child(4n) {
		margin-right:0!important;
	}
	.small_razdel_firearm .razdel_firearm_block:nth-child(3n) {
		margin-right:1.3%;
	}
	.small_razdel_firearm .razdel_firearm_block {
		width: 24%;
		margin: 0 1.3% 10px 0;
	}
	.razdel_firearm_block:nth-child(3n) {
		margin-right:0;
	}
	.razdel_firearm_block {
		width: 33%;
		margin: 0 0.5% 10px 0;
	}
	.min_element_contacts {
		width: 48%!important;
		margin: 30px 1.5% 0 0!important;
	}
	.help_horizontal div {
		float: left;
		width: 20%;
		padding:0 5px;
	}
	
	.why_trust_us ul {
		max-width:1160px;
		margin:0 auto;
	}
	.why_trust_us li {
		display:inline-block;
		vertical-align:top;
		padding:0 10px;
		text-align:center;
		font-family:latolight;
		font-size:15px;
		color:#000;
		line-height:1.4;
		width:32%;
	}
	.video_block iframe {
		width:100%!important;
	}
	.right_text_why_trust_us {
		padding-right:10px;
	}
	.rating_comment_text {
		width:45%;
		float:left;
		margin-right:2%;
	}
	.rating_comment {
		width:53%;
		float:right;
	}
	
	.average_rating {
		width:50%;
		float:left;
	}
	.scale_rating {
		float:right;
		width:45%;
	}
	.left_column {
		position:static!important;
	}
	.table_element_catalog_light {
		display:block!important;
	}
	.mobile_header_geo_block {
		position:relative;
	}
	.header_geo_light {
		left:auto!important;
		right:1px;
	}
	.header_geo_light:before {
		left:auto!important;
		right:47px;
	}
	
	#viewer,
	#viewer>Div>div:first-child,
	#viewer>Div>div>div:first-child,
	#viewer>div:first-child {
		width: 100%!important;
		height: 100%!important;

		bottom:0;
	}
	#viewer>div>div:first-child {
		display:block!important;		
	}
	#viewer>div>div {
		display:none;
	}
}
