.bx_profile .main-profile-block-date-info{margin-bottom:15px}.bx_profile .main-profile-form-password-annotation{font-family:Arial,Helvetica,sans-serif;color:grey;font-weight:lighter;font-size:12px;margin-top:15px;margin-bottom:0}.bx_profile .main-profile-block-date-info,.bx_profile .form-group{overflow-y:hidden}@media(min-width:992px){.text-md-right{text-align:right}.form-group{display:table;width:100%}.main-profile-form-label.text-md-right,input[class*="col-"]{float:none!important;display:table-cell;vertical-align:middle}}.bx_profile .main-profile-social-block{margin-top:40px}.bx_profile .form-group .form-control{height:40px}

.bx_profile {
	background:#e6e6e6;
	padding:25px 35px;
}
.main-profile-block-shown {
	background:#fff;
	padding:50px 30px;
	border-radius:10px;
	margin-bottom:30px;
}
.main-profile-block-shown_other {
	background:#fff;
	padding:40px 0px;
	border-radius:10px;
	/* margin-bottom:30px; */
}
.lk_title {
	text-transform:uppercase;
	font-size:32px;
	margin-bottom:25px;
}
.lk_content_width {
	max-width:566px;
	margin:0 auto;
}
.lk_content_width .big_red_button {
	margin-left:0;
	margin-top:30px;
}
.lk_content_width .big_gray_button {
	margin-right:0;
	background:#e6e6e6;
	margin-top:30px;
}